/*GNRL*/
#html,body{
   font-family: Raleway;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.flexAround{
    display: flex; 
    justify-content: space-around;
    align-items: center;
} 
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumncenter{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} 
.flexColumnAround{
   display: flex; 
   flex-direction: column;
   justify-content: space-around;
} 
.flexColumnBetween{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.DcoNone{
   text-decoration: none;
}
.BorderNone{
   border: none;
}
.TxtStrng{
   font-weight: bold;
}
.colorBleu{
   color: #0065FC;
}
.colorBlclr{
   color: #DEEBFF;
}
.colorGrey{
   color: #F2F2F2;
}
.bckGrey{
   background-color: #F2F2F2;
}
.bckBleu{
   background: #0065FC;
}
.bckBlclr{
   background: #DEEBFF;
}
/****** Debut Entete *******/

.header{

   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   /* border: 1px solid black; */
}
.MrgLogo
{
   width: 97px ;
   height: 45px;
}
.header_menu_nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

.header a{
   text-decoration: none;  
   height: 80px; 
   line-height: 80px;
   display: inline-block;
}

.header nav ul li a{
   color: black;
   text-align: center;
   padding-left: 40px;
   padding-right: 40px;
}

.header .header__insp a{
   color: #0065FC;
   font-weight: 700;
}

.header .header--height{
   height: 80px;
   line-height: 80px;
}
.header nav ul li{
   list-style: none;
   margin: 0;
}
ul{   
   margin: 0;
   padding: 0;
}
.header nav ul{
   display: flex;
   justify-content: space-between;
}

.header nav ul a.header--active{
   color: #0065FC;
   border-top: #0065FC solid 2px;
}

.header nav ul a:hover{
   color: #0065FC;
   border-top: #0065FC solid 2px;
   text-decoration: none;
}
/****** Fin Entete *******/
/*NaV */
.sizeLinks{
   width: 45%;
}
.sizeLink{
   width: 140px;
   height: 99px;
}
.colorLinkAC{
   color: #0065FC;
}
.colorLinkB{
   color: black;
}
.sizeNav{
   height: 100px;
}
.Boutsrch .label{
   display: inline;
}
.Boutsrch .icon{
   display: none;
}   
.borderNav{
   border-top: 1px solid transparent;
}
.borderNav:hover,.activeborder{
   border-top: 1px solid #0065FC;
   cursor: pointer;
}
.borderNav:hover > a,.activeborder>a{        
  color:#0065FC;
} 
.bordernav12{
   display:flex;
   justify-content: space-between;
} 
.MrgLogo{
   margin-bottom: 7px;
}
/* HeaDr */
.borderSrch{
   width: 400px;
   border-radius: 10px;
   border: 0.5px solid #F2F2F2;
} 
.PaDSrch{
   padding-left: 20px;
}
.sizeIcon{
   height: 50px;
   width: 50px;
   border-radius: 10px 0 0 10px;
}
.Search{
   height: 50px;
   width: 230px;
   font-size: 18px;
   color: black;
   font-weight: bold;
}

.Boutsrch{
   height: 50px;
   width: 120px;
   color: white;
   cursor: pointer;
   border-radius: 0 10px 10px 0;
}
.Boutsrch:hover{
   color: #0065FC;
   background-color: #F2F2F2;
}
/*FLTR */
.marGFiltr{
   margin-top: 50px;
   margin-bottom: 40px;
}
.mArgFltTitr{
   margin-right: 20px;

}
.ListFiltr
{
 display: flex;
 justify-content: flex-start; 
 align-items: flex-start; 
 flex-wrap: wrap;

}
.Fltr{
display: flex;
align-items: center;
}
.FltrTxtIcon{
   border: 2px solid #f2f2f2;
   height: 50px;
   border-radius: 30px;
   margin-right: 20px;
}
.FltrTxtIcon:hover > .FltrTxt{
   color: #0065FC;
}
.FltrTxtIcon:hover > .FiltrIcon{
   color: white;
   background-color: #0065FC;
}
.FiltrIcon{
   margin-left: -2px;
   border-radius: 25px;
   width: 52px;
   height: 52px;
   color: #0065FC;
   background-color: #DEEBFF;
}
.FltrTxt{
   height: 50px;
   padding-left:20px ;
   padding-right: 20px;
   border-radius: 0 25px 25px 0px;
   font-weight: bold;
}
/*Info IcoN */
.InfO{
   display: flex;
   align-items: center;
}
.PrntIcoN{
   width: 20px;
   height: 20px;
   border: 2px solid #f2f2f2;
   border-radius: 25px;
   margin-right: 2px;
}
/* HBRGMENT*/
.sizeHBrgmT{
   flex: 2;
   height: 650px;
   margin-right: 20px;
   border-radius: 10px;
}

.BlokHbGmTs{
   padding-left: 20px;
   padding-right: 20px;
}
.sousBlcHBgrmt{
   width: 30%;
   height: auto;
   background-color: white;
   padding: 1%;
   border-radius: 20px;
   height: 260px;   
}
.sousBlcDetailHBgrmt{
   width: 80%;
}
.BlcHBrgmT1{
   margin-bottom: 10px;
}
.BlcHBrgmT2{
   margin-top: 10px;
}
.ImgHBRGT1{
   background-image: url("../images/hebergements/3_medium/aubrgCannebiere.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
   object-fit: cover;
}
.ImgHBRGT2{
   background-image: url("../images/hebergements/3_medium/hotelduPort.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
   object-fit: cover;
}
.ImgHBRGT3{
   background-image: url("../images/hebergements/3_medium/lesMouettes.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0; 
   object-fit: cover;
}
.ImgHBRGT4{
   background-image: url("../images/hebergements/3_medium/HotelMer.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0; 
   object-fit: cover;
}
.ImgHBRGT5{
   background-image: url("../images/hebergements/3_medium/lePanier.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
   object-fit: cover;
}
.ImgHBRGT6{
   background-image: url("../images/hebergements/3_medium/Amina.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
   object-fit: cover;
}
/*PoPulaire*/

.sizePoPu{
   flex: 1;
   height: 650px;
   margin-left: 20px;
   border-radius: 10px;
}
.blcPoPU{
padding-left: 20px;
padding-right: 20px;
}
.BlkPoPu12{
   margin-bottom: 22px;
}
.sousBlcDetailPoPu{
   width: 60%;
   padding-left: 5%;
}
.sousBlcPoPu{
   background-color: white;
   height: auto;
   padding: 1% 0 1% 1%;
   border-radius: 20px;
   
}
.Sect1 .flexColumnCenter, #ACTiVmars .flexColumnBetween,.Sect1  .flexCenter{
   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.imgPoPu1{
   background-image: url("../images/hebergements/3_medium/soleilDuMatin.jpg");
   background-size: cover;
   background-position: center;
   width: 35%;
   height: 160px;
   border-radius: 15px 0 0 15px;
   cursor: pointer;
   object-fit: cover; 
}
.imgPoPu2{
   background-image: url("../images/hebergements/3_medium/coeureauchbrhote.jpg");
   background-size: cover;
   background-position: center;
   width: 35%;
   height: 160px;
   border-radius: 15px 0 0 15px;
   cursor: pointer;
   object-fit: cover;
}
.imgPoPu3{
   background-image: url("../images/hebergements/3_medium/toutbleublanc.jpg");
   background-size: cover;
   background-position: center;
   width: 35%;
   height: 160px;
   border-radius: 15px 0 0 15px;
   cursor: pointer; 
   object-fit: cover;  
}
/*etoile*/
.raiting {
   direction: ltr;
}
.raiting a {
   color: #aaa;
   text-decoration: none;
} 
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.bleu {
	color: #0065FC;
}
/*Activités*/
.ACTiVmars{
   margin-top: 50px;
   margin-bottom: 50px;
}
.BlkACT{
   width: 100%;
   height: 600px;
}
.BlkACT2356{
   width: 23%;
   height: 600px;
}
   
/*settingbloc*/
.sousBlcActv{
   width: 23%;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 1px #f2f2f2;
   position: relative;
}
/*endsettingbloc*/
.heigTtr{
   height: 70px;
}
.sousBlcActv2356{
   width: 100%;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 1px #f2f2f2;
   position: relative;
}
.TtrActV{
   display:flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 5%;
   width: 95%;
}
.imgActv1{
   background-image: url("../images/activites/3_medium/VieuxPort.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 530px;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   object-fit: cover;
}
.imgActv2{
   background-image: url("../images/activites/3_medium/pomègues.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 250px;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   object-fit: cover;
}
.imgActv3{
   background-image: url("../images/activites/3_medium/IlesFrioul.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 150px;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   object-fit: cover;
}
.imgActv4{
   background-image: url("../images/activites/3_medium/Calanques.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 530px;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   object-fit: cover;
}
.imgActv5{
   background-image: url("../images/activites/3_medium/NTrDmDlaGRD.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   object-fit: cover;
}
.imgActv6{
   background-image: url("../images/activites/3_medium/ParcLnChmp.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   object-fit: cover;
}
/*footer*/

#foot{
    width: 300px;
    margin: 100px;
    display:flex;
}
.sizeblkfoot{
   height: auto;
}
.navhov:hover > a{        
   color:#0065FC;
 } 
 .navhov:hover{
   color: #0065FC;
   cursor: pointer;
 }
 /*tablette */

 @media all and (max-width: 1024px)
 {
    .header
    {
       align-items: flex-start;
       flex-direction: column;
       margin-bottom: 10px;
      }
      
     .header_menu_nav{
         width: 99%;
         position: absolute;
         display: flex;
         flex-direction: column;
         align-items: center;
         font-size: x-large;
     }
 
     .header--el:nth-child(1){
         order: 2;
     }
 
     .header--el:nth-child(2){
         order: 1;            
         align-self: flex-end;
         justify-self: flex-start;    
     }
 
     .logo{
         padding-left: 20px;
     }
 
     .header__insp{
         padding-right: 20px;
     } 
     div.header--height-mob.header--height, div.header--height-mob.header--height a{
         height: 40px;
         line-height: 40px;
     }
      .header nav ul a.header--active{
         border-bottom: #0065FC solid 2px;
         border-top: none;
      }
     
     .header__nav,.header nav ul{
         width: 100%;   
     }
     .Boutsrch .label{
      display: none;
   }
   .Boutsrch .icon{
      display: inline;
   } 
   .Boutsrch{
      width: 50px;
   }
   .borderSrch{
      width: 330px;
   }
     .header nav ul li a{
         height: 40px; 
         line-height: 40px;
         border-bottom: #F2F2F2 solid 2px;
     }
    
     .header nav ul li a,.header nav ul li{
         padding:0;
         width: 100%;
         text-align: center;
     }
 
     .header nav ul a.header--ACTiVmars{
         border-top: none;
         border-bottom: #0065FC solid 2px;
     }
     
     .header nav ul a:hover{
         border-top: none;
         border-bottom: #0065FC solid 2px;
     }  
     #bloctotal
     {
         width: auto;
     }
     section{
      display: flex; 
      flex-direction: column;
     }
    .flexBetween
    {
     margin-bottom: 30px;
    }
    .filtext 
    {
       margin-top: 20px;
    }
    .FltrTxt
    {
       margin-left: 80px;
       margin-right: 80px;
       font-size: 25px;

    }
    .FltrTxtIcon:nth-child(3) .FltrTxt,.FltrTxtIcon:nth-child(4) .FltrTxt{
    
      margin-left: 140px;
      margin-right: 140px;
   }
    
    .Fltr
    {
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: row;      
    }

    .sizeHBrgmT
    {
      order: 4; 
      width: 94%;
      margin-left: 10px; 
      background-color: transparent; 
    }
    .sousBlcHBgrmt
    {
      width: 100%;
      margin-bottom: 15px;

    }
   
    .BlcHBrgmT1
    {  
      width: 98%; 
      flex-direction: column;
      flex-wrap: wrap;
 
    }
    .BlcHBrgmT2
    {
      flex-direction: column;
      width: 98%;
      flex-wrap: wrap;
    }
    .sizePoPu
    {
      order: 3;
      margin-right: 20px;
      margin-left: 20px;
      width: 94%;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    .BlcAtcV 
    {
      order: 5; 
      flex-direction: column;
      justify-content: space-between;
    }
    .sousBlcActv
    {
      width: 90%;
      height: fit-content; 
    }
    .BlkACT2356
    {
      width: 90%;  
    }
    .footer
    {
      order: 6; 
      display: flex;         
    }
    .foot
    {
      width: 100%;
      align-items: flex-start; 
      flex-direction: column;
      margin-top: 25px;      
      margin-bottom: 10px;
    }
 }