/*GNRL*/
#html,body{
   font-family: Raleway;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.flexAround{
    display: flex; 
    justify-content: space-around;
    align-items: center;
} 
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumncenter{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} 
.flexColumnAround{
   display: flex; 
   flex-direction: column;
   justify-content: space-around;
} 
.flexColumnBetween{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.DcoNone{
   text-decoration: none;
}
.BorderNone{
   border: none;
}
.TxtStrng{
   font-weight: bold;
}
.colorBleu{
   color: #0065FC;
}
.colorBlclr{
   color: #DEEBFF;
}
.colorGrey{
   color: #F2F2F2;
}
.bckGrey{
   background-color: #F2F2F2;
}
.bckBleu{
   background: #0065FC;
}
.bckBlclr{
   background: #DEEBFF;
}
/****** Debut Entete *******/

.header{

   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   /* border: 1px solid black; */
}

.header_menu_nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

.header a{
   text-decoration: none;  
   height: 80px; 
   line-height: 80px;
   display: inline-block;
}

.header nav ul li a{
   color: black;
   text-align: center;
   padding-left: 40px;
   padding-right: 40px;
}

.header .header__insp a{
   color: #0065FC;
   font-weight: 700;
}

.header .header--height{
   height: 80px;
   line-height: 80px;
}
.header nav ul li{
   list-style: none;
   margin: 0;
}
ul{   
   margin: 0;
   padding: 0;
}
.header nav ul{
   display: flex;
   justify-content: space-between;
}

.header nav ul a.header--active{
   color: #0065FC;
   border-top: #0065FC solid 2px;
}

.header nav ul a:hover{
   color: #0065FC;
   border-top: #0065FC solid 2px;
   text-decoration: none;
}
/****** Fin Entete *******/
/*NaV */
.sizeLinks{
   width: 45%;
}
.sizeLink{
   width: 140px;
   height: 99px;
}
.colorLinkAC{
   color: #0065FC;
}
.colorLinkB{
   color: black;
}
.sizeNav{
   height: 100px;
}   
.borderNav{
   border-top: 1px solid transparent;
}
.borderNav:hover,.activeborder{
   border-top: 1px solid #0065FC;
   cursor: pointer;
}
.borderNav:hover > a,.activeborder>a{        
  color:#0065FC;
} 
.bordernav12{
   display:flex;
   justify-content: space-between;
} 
.MrgLogo{
   margin-bottom: 7px;
}
/* HeaDr */
.borderSrch{
   width: 400px;
   border-radius: 10px;
   border: 0.5px solid #F2F2F2;
} 
.PaDSrch{
   padding-left: 20px;
}
.sizeIcon{
   height: 50px;
   width: 50px;
   border-radius: 10px 0 0 10px;
}
.Search{
   height: 50px;
   width: 230px;
   font-size: 18px;
   color: black;
   font-weight: bold;
}

.Boutsrch{
   height: 50px;
   width: 120px;
   color: white;
   cursor: pointer;
   border-radius: 0 10px 10px 0;
}
.Boutsrch:hover{
   color: #0065FC;
   background-color: #F2F2F2;
}
/*FLTR */
.marGFiltr{
   margin-top: 50px;
   margin-bottom: 40px;
}
.mArgFltTitr{
   margin-right: 20px;

}
.Fltr{
display: flex;
align-items: center;
}
.FltrTxtIcon{
   border: 2px solid #f2f2f2;
   height: 50px;
   border-radius: 30px;
   margin-right: 20px;
}
.FltrTxtIcon:hover > .FltrTxt{
   color: #0065FC;
}
.FltrTxtIcon:hover > .FiltrIcon{
   color: white;
   background-color: #0065FC;
}
.FiltrIcon{
   margin-left: -2px;
   border-radius: 25px;
   width: 52px;
   height: 52px;
   color: #0065FC;
   background-color: #DEEBFF;
}
.FltrTxt{
   height: 50px;
   padding-left:20px ;
   padding-right: 20px;
   border-radius: 0 25px 25px 0px;
}
/*Info IcoN */
.InfO{
   display: flex;
   align-items: center;
}
.PrntIcoN{
   width: 20px;
   height: 20px;
   border: 2px solid #f2f2f2;
   border-radius: 25px;
   margin-right: 2px;
}
/* HBRGMENT*/
.sizeHBrgmT{
   flex: 2;
   height: 650px;
   margin-right: 20px;
   border-radius: 10px;
}
.sizePoPu{
   flex: 1;
   height: 650px;
   margin-left: 20px;
   border-radius: 10px;
}
.BlokHbGmTs{
   padding-left: 20px;
   padding-right: 20px;
}
.sousBlcHBgrmt{
   width: 30%;
   height: auto;
   background-color: white;
   padding: 1%;
   border-radius: 20px;
}
.sousBlcDetailHBgrmt{
   width: 80%;
}
.BlcHBrgmT1{
   margin-bottom: 10px;
}
.BlcHBrgmT2{
   margin-top: 10px;
}
.ImgHBRGT1{
   background-image: url("../images/hebergements/4_small/aubrgCannebiere.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}
.ImgHBRGT2{
   background-image: url("../images/hebergements/4_small/hotelduPort.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}
.ImgHBRGT3{
   background-image: url("../images/hebergements/4_small/lesMouettes.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}
.ImgHBRGT4{
   background-image: url("../images/hebergements/4_small/HotelMer.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}
.ImgHBRGT5{
   background-image: url("../images/hebergements/4_small/lePanier.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}
.ImgHBRGT6{
   background-image: url("../images/hebergements/4_small/Amina.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}
/*PoPulaire*/

.blcPoPU{
padding-left: 20px;
padding-right: 20px;
}
.BlkPoPu12{
   margin-bottom: 22px;
}
.sousBlcDetailPoPu{
   width: 60%;
   padding-left: 5%;
}
.sousBlcPoPu{
   background-color: white;
   height: auto;
   padding: 1% 0 1% 1%;
   border-radius: 20px;
}
.imgPoPu1{
   background-image: url("../images/hebergements/4_small/soleilDuMatin.jpg");
   background-size: cover;
   background-position: center;
   width: 35%;
   height: 160px;
   border-radius: 15px 0 0 15px; 
}
.imgPoPu2{
   background-image: url("../images/hebergements/4_small/coeureauchbrhote.jpg");
   background-size: cover;
   background-position: center;
   width: 35%;
   height: 160px;
   border-radius: 15px 0 0 15px; 
}
.imgPoPu3{
   background-image: url("../images/hebergements/4_small/toutbleublanc.jpg");
   background-size: cover;
   background-position: center;
   width: 35%;
   height: 160px;
   border-radius: 15px 0 0 15px; 
}
/*etoile*/
.raiting {
   direction: ltr;
}
.raiting a {
   color: #aaa;
   text-decoration: none;
} 
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si +classe '.gold', sera jaune. */
.fa-star.bleu {
	color: #0065FC;
}
/*Activités*/
.ACTiVmars{
   margin-top: 50px;
   margin-bottom: 50px;
}
.BlkACT{
   width: 100%;
   height: 600px;
}
.BlkACT2356{
   width: 23%;
   height: 600px;
}
   
/*settingbloc*/
.sousBlcActv{
   width: 23%;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*endsettingbloc*/
.heigTtr{
   height: 70px;
}
.sousBlcActv2356{
   width: 100%;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.TtrActV{
   display:flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 5%;
   width: 95%;
}
.imgActv1{
   background-image: url("../images/activites/4_small/VieuxPort.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 530px;
   border-radius: 15px 15px 0 0;
}
.imgActv2{
   background-image: url("../images/activites/4_small/pomègues.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 250px;
   border-radius: 15px 15px 0 0;
}
.imgActv3{
   background-image: url("../images/activites/4_small/IlesFrioul.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 150px;
   border-radius: 15px 15px 0 0;
}
.imgActv4{
   background-image: url("../images/activites/4_small/Calanques.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 530px;
   border-radius: 15px 15px 0 0;
}
.imgActv5{
   background-image: url("../images/activites/4_small/NTrDmDlaGRD.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 200px;
   border-radius: 15px 15px 0 0;
}
.imgActv6{
   background-image: url("../images/activites/4_small/ParcLnChmp.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 200px;
   border-radius: 15px 15px 0 0;
}
/*footer*/

#foot{
    width: 300px;
    margin: 100px;
    display:flex;
    justify-content: flex-start;
}
.sizeblkfoot{
   height: 150px;
}
.navhov:hover > a{        
   color:#0065FC;
 } 
 .navhov:hover{
   color: #0065FC;
   cursor: pointer;
 }
 /*tablette */

 @media all and (max-width: 1024px)
 {
    .header
    {
       align-items: flex-start;
       flex-direction: column;
      }
 
     .header_menu_nav{
         width: 99%;
         position: absolute;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 
     .header--el:nth-child(1){
         order: 2;
     }
 
     .header--el:nth-child(2){
         order: 1;            
         align-self: flex-end;
         justify-self: flex-start;    
     }
 
     .logo{
         padding-left: 20px;
     }
 
     .header__insp{
         padding-right: 20px;
     }
 
     .card2-list{
         display: flex;
     }
     
 
     div.header--height-mob.header--height, div.header--height-mob.header--height a{
         height: 40px;
         line-height: 40px;
     }
 
     .header__nav,.header nav ul{
         width: 100%;
         
     }
    
     .header nav ul li a{
         height: 40px; 
         line-height: 40px;
         border-bottom: #F2F2F2 solid 2px;
     }
    
     .header nav ul li a,.header nav ul li{
         padding:0;
         width: 100%;
         text-align: center;
     }
 
     .header nav ul a.header--active{
         border-top: none;
         border-bottom: #0065FC solid 2px;
     }
     
     .header nav ul a:hover{
         border-top: none;
         border-bottom: #0065FC solid 2px;
     }  
     #bloc_page
     {
         width: auto;
     }
     section{
      display: flex; 
      flex-direction: column;
     }
    .FILTRE
    {
       margin-top: 50px;
    }
   }