@font-face {
    font-family: "raleway-regular";
    src: url('fonts/raleway-regular.eot');
    src: url('font/raleway-regular.woff') format('woff');
    src: url('font/raleway-regular.ttf') format("truetype")    
}

     